body{
    font-family: 'Carter One', cursive;
    background-image: url('img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    color: white;
    background-color: black;
}

.maquina-recreativa {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    min-height: 80vh;
    padding: 80px;

}